<template name="postPage">


  <div class="row">

  		<div class="col-md-12">

  			<h3 class="uppercase">{{title}}</h3>

  			<div class="row">
  				<div class="col-md-6">
  					<p>{{url}} <br>
              Fusce hendrerit massa justo. Phasellus hendrerit molestie tellus, ut placerat ex sodales id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi ac vulputate tellus, eget porttitor ipsum. Ut fringilla maximus urna, dapibus mattis tellus rutrum placerat. Suspendisse interdum id eros et faucibus. Sed non aliquam nisi. Mauris iaculis felis enim, ut placerat quam gravida nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id vestibulum ipsum. Quisque viverra convallis odio vitae luctus. Nam posuere libero ac tellus convallis convallis. Phasellus id ligula sem. Nunc augue ipsum, pulvinar sed lobortis nec, sagittis at mi. Pellentesque tortor nulla, auctor eget felis at, ornare fermentum nisi.</p>
  				</div>

  				<div class="col-md-6">
  					<p>Nulla facilisi. Duis nibh metus, eleifend sed lectus sed, molestie convallis magna. In ac nisi sed ex facilisis sollicitudin a et nisi. Quisque rhoncus ut odio sed mattis. Nullam placerat, ex eget consequat tristique, ligula tellus aliquam mi, eget consequat mauris nibh et risus. Sed leo augue, rhoncus sit amet felis vel, imperdiet rhoncus felis. Integer faucibus nunc auctor elit efficitur, nec maximus lectus consectetur. Integer pulvinar metus risus, in cursus arcu fringilla pharetra. Vivamus eu vulputate risus, vitae imperdiet neque. Vestibulum aliquam sollicitudin dui, non feugiat eros tincidunt ac. Aenean eu justo dignissim, mollis nulla porttitor, eleifend quam. Sed suscipit nisl nec velit sodales ornare. Nunc nec turpis id arcu aliquam mollis non sed mi. Vestibulum non condimentum ligula.</p>
  				</div>

  			</div>

  			</div>
  		</div>

      <div class="breadcrumb">
        <a href="/"><button class="btn btn-small lite">&lt; Back</button></a>
      </div>



</template>
