
<template name="postItem">

  <a href="{{url}}">
      <div class=" quotes-content">
        <div class="row">
          <div class="col-md-6">
              <span class="title"><i class="icon-umbrella"></i>{{title}}</span>
              <span class="subt"><a href="{{url}}" target="blank">{{domain}}</a></span></div>
          <div class="col-md-2"></div>
          <div class="col-md-4"><a href="{{pathFor 'postPage'}}" class="right btn btn-small lite">Discuss</a></div>
        </div>

     </div>






  </a>

</template>
